/* IMPORTS */


/* Roboto font */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700, 900');
a+ *+ text,
a> image,
a+* {
    cursor: pointer;
}

#timeline {
    z-index: 10;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 1600px;
    margin: 0 auto;
}


/* SVG */

svg {
    width: 100%;
    height: auto;
}

text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    fill: #fff;
    filter: url(#f1);
}

.textShadow {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    fill: #1f1f1f;
}

.notBold {
    font-weight: 400;
}

.smallText {
    font-size: 12px;
    font-weight: 400;
    /*    letter-spacing: 1.5px;*/
}

.smallTextShadow {
    font-size: 12px;
    font-weight: 400;
    fill: #1f1f1f;
    /*    letter-spacing: 1.5px;*/
}

.operator {
    font-size: 28px
}

#timeline g text {
    font-size: 12px;
}

#timeline g> image {
    display: none;
}

#timeline g.active> image {
    display: inline;
}

#timeline g.active text {
    fill: #235255;
}

.hide {
    display: none;
}

#forcerText text {
    font-size: 50px;
    font-weight: 400;
    fill: white;
}

.forcerSubscript {
    font-size: 25px;
}

#error {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 50%;
    margin: 15px auto;
    color: red;
}

#noChangeMessage {
    display: none;
    font-size: 50px;
}
