/* IMPORTS */
/* Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700, 900');

* {
  box-sizing: border-box;
}

main {
	max-width: 1600px;
  margin: 0 auto;
}


/* SVG */
svg {
  width: 100%;
  height: auto;
}

text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    fill: #fff;
}

.notBold {
    font-weight: 400;
}

.smallText {
    font-size: 12px;
    font-weight: 400;
/*    letter-spacing: 1.5px;*/
}

.operator {
	font-size: 28px
}

#timeline g text {
	font-size: 12px;
}

#timeline g > image {
	display: none;
}

#timeline g.active > image {
	display: inline;
}

#timeline g.active text {
	fill: #235255;
}